@media (max-width: 1200px) 
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .packages
    &-wrapper
      display: grid
      grid-template: repeat(2,450px)/ repeat(3,300px)
      grid-template-areas: 'proposition-1 proposition-1 proposition-2' 'proposition-3 proposition-4 proposition-5'
      gap: 30px
  .proposition
    &__1
    grid-template: 450px/ 314px 314px
    grid-template-areas: 'image description'
    &__description
      &__main
        padding-top: 10px

@media ( max-width: 992px)
  .container , .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
      justify-content: space-between
  .booking,  .map
    width: 340px
  .hotel
    &-slider
      width: 100%  
  .swiper
    &-slide
      &__image
        width: 100%
        object-fit: cover
  .reviews
    &__title
      font-size: 30px
      font-style: normal
      font-weight: 700
      line-height: normal
      text-transform: uppercase
    &-slider
      &__item
        max-width: 580px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
    &__title
      font-size: 18px
  .card
    width: 340px
    height: 230px
  .packages
    &__title
      margin-bottom: 40px
    &-wrapper
      display: grid
      grid-template: repeat(3,470px)/ repeat(2,50%)
      grid-template-areas: 'proposition-1 proposition-1' 'proposition-2 proposition-3' 'proposition-4 proposition-5'
      gap: 20px
  .proposition
    &__1
      grid-template: 470px/ repeat(2,50%)
      grid-template-areas: 'image description'
      margin-bottom: 30px
    &__img
      width: 100%
    &__main
      border-radius: 8px 0px 0px 8px

@media ( max-width: 768px)
  .container, .newsletter-wrapper
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars 
    flex-basis: auto
  .hotel
    padding-top: 5px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0px
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    max-height: 319px
    &-wrapper
      flex-direction: column
      align-items: flex-start
  .reviews
    &__title
      font-size: 18px
      font-style: normal
      font-weight: 700
      line-height: normal
      text-transform: uppercase
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          margin-left: -65px
          left: 50%
          transform: translate(-50%,0)
        &--next
          margin-right: -65px
          right: 50%
          transform: translate(50%,0)
  .card
    width: 49%
    height: 255px
  .packages
      &__title
        margin-bottom: 40px
      &-wrapper
        display: grid
        grid-template: repeat(3,410px)/ repeat(2,50%)
        grid-template-areas: 'proposition-1 proposition-1' 'proposition-2 proposition-3' 'proposition-4 proposition-5'
        gap: 10px
  .proposition
    &__1
      grid-template: 410px/ repeat(2,50%)
      grid-template-areas: 'image description'
      margin-bottom: 30px
    &__description
      padding-left: 20px
      &__main
        padding-left: 20px
    &__title
      margin-bottom: 10px
    &__subtitle
      font-size: 12px
      font-style: normal
      font-weight: 400
      line-height: 22.484px
      margin-top: 0
    &__info
      max-width: 203px
      height: 67px
      margin-bottom: 10px
    &__information
      font-size: 10px
    &__old-price
      font-size: 12px
      margin-bottom: 3px
      &__main
        margin-top: 7px      
    &__button
      position: absolute
      top: -10px
      // border-radius: 4px
      max-width: 100px
      min-height: 30px
      font-size: 12px
      padding: 7px
      &__main
        top: -12px
    &__new-price
      font-size: 18px


@media (max-width: 576px) 
  .logo
    width: 99px
  .hotel
    &-slider
      height: 250px
      object-fit: cover
  .hotel
    &__slider
      margin-bottom: 20px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .card
    width: 100%
  .packages
    padding-bottom: 30px
    &-wrapper
      display: grid
      grid-template: repeat(5,375px)/ repeat(1,100%)
      grid-template-areas: 'proposition-1' 'proposition-2' 'proposition-3' 'proposition-4' 'proposition-5' 'proposition-6'
      gap: 10px
  .proposition
    &__1
      grid-template: 400px/ repeat(2,50%)
      grid-template-areas: 'image description'
    &__img
      width: 100%
    &__main
      border-radius: 8px 0px 0px 8px
      // height: 100%
    &:nth-child(2)
      margin-top:30px
      height: 100%
    &:nth-child(3)
      margin-top:20px
      height: 100%
    &:nth-child(n+3)
      margin-top: 10px
      height: 100%
    &__description
      &__main
        padding-right: 14px
        padding-bottom: 15px
    &__stars
      padding-bottom: 0
    &__title
      font-size: 16px
      margin-bottom: 5px
    &__subtitle
      font-size: 14px
      min-height: 165px
      margin-bottom: 15px
      line-height: 12px 
    &__info
      margin-bottom: 15px
      &__main
        margin-bottom: 20px
    &__old-price
      &__main
        font-size: 8px
    &__new-price
      font-size: 14px
    &__button
      padding: 1px

@media (max-width: 380px) 
  .proposition
    &__subtitle
      font-size: 12px
      min-height: 165px
      margin-bottom: 15px
      line-height: 10px 